body {
    background-image: url(../assets/wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.title {
    text-align: center;
    font-size: 50px;
}

.input {
    text-align: center;
    font-size: 25px;
}

input {
    text-align: center;
}

button {
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: white;
    color: black;
}

div {
    background-color: white;
    height: 425px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
    text-align: center;
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

/* .error {
    background: #F2DEDE;
    color: #0c0101;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 } */